/* Required by Zola's syntax highlighter (Giallo), see https://www.getzola.org/documentation/content/syntax-highlighting/ */
.giallo-l {
  display: inline-block;
  min-height: 1lh;
  width: 100%;
  /* keep empty lines the same height as the others */
  vertical-align: top;
}
.giallo-ln {
  display: inline-block;
  user-select: none;
  margin-right: 0.4em;
  padding: 0.4em;
  min-width: 3ch;
  text-align: right;
  opacity: 0.8;
}
